#### Lists

1. Lists are sequence of elements arranged in any order and has a mutable property

In [51]:
import copy ## import
import sys
import pprint
sys.path

['',
 '/Users/pradeepkumar/Edvancer_Python',
 '/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python37.zip',
 '/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7',
 '/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/lib-dynload',
 '/Users/pradeepkumar/Library/Python/3.7/lib/python/site-packages',
 '/usr/local/lib/python3.7/site-packages',
 '/usr/local/lib/python3.7/site-packages/IPython/extensions',
 '/Users/pradeepkumar/.ipython']

In [40]:
copy.__file__

'/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/copy.py'

In [22]:
lyst = [45, 32,100, 78, 96]

In [23]:
lyst

[45, 32, 100, 78, 96]

In [24]:
type(lyst)

list

In [25]:
## Indexes in python begins with 0

In [26]:
lyst[0]

45

In [27]:
lyst[-1]

96

In [28]:
id(lyst)

4565700424

In [29]:
lyst[0] = 200

In [30]:
lyst ## mutablility : same memory location you change stuff

[200, 32, 100, 78, 96]

In [31]:
id(lyst)

4565700424

In [32]:
newlyst = lyst

In [33]:
newlyst

[200, 32, 100, 78, 96]

In [34]:
id(newlyst)

4565700424

In [18]:
lyst

[200, 32, 100, 78, 96]

In [19]:
newlyst[0] = 1000

In [20]:
newlyst

[1000, 32, 100, 78, 96]

In [21]:
lyst

[1000, 32, 100, 78, 96]

In [48]:
## if you want to make a separate copy
newlyst = copy.deepcopy(lyst)

In [43]:
id(lyst)

4565700424

In [44]:
id(newlyst)

4564993992

In [45]:
lyst[0] = 10000

In [46]:
lyst

[10000, 32, 100, 78, 96]

In [47]:
newlyst

[200, 32, 100, 78, 96]

## Object oriented way
## football: ball, kick
## noun: ball : object
## verb : kick
## ball.kick()
## ball.catchcatch()
## ball.eat , its not allowed
##

In [54]:
dir(newlyst)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [55]:
In[54] ## Ipython :

'dir(newlyst)'

In [60]:
## dunder methods
## magic methods: Ruby community, Julia
## special methods

In [66]:
lyst.append(400)

In [67]:
#newlyst.clear()

In [72]:
lyst.append(32)

In [74]:
lyst.count(32)

2

In [75]:
lyst.append([30])

In [76]:
lyst

[10000, 32, 100, 78, 96, 400, 32, [30]]

In [81]:
lyst.extend([40, 60, 90])

In [85]:
lyst[7]= 30

In [83]:
lyst.index(32)

1

In [86]:
lyst.sort()

In [87]:
lyst

[30, 32, 32, 40, 40, 40, 60, 60, 78, 90, 90, 96, 100, 400, 10000]

In [88]:
del lyst

In [90]:
lyst = [30, 32, 32, 40, 40, 40, 60, 60, 78, 90, 90, 96, 100, 400, 10000]

In [91]:
## list: mutablility, deepcopy,import
## list indexes, delete, dir function

In [92]:
2 + 3

5

In [95]:
(2).__mul__(3)

6

In [97]:
## tuples: immutable sequence

In [ ]:
## Brackets: []
## curly braces: {}
## parenthesis: ()
## Angular : <>

In [98]:
tups = (2, 3, 4) ## parenthesis

In [99]:
tups

(2, 3, 4)

In [100]:
tups[0]

2

In [102]:
tups[0] = 100 ## Immmutable object

TypeError: 'tuple' object does not support item assignment

In [109]:
tups = ( 0, 2, [0,2,3])

In [110]:
id(tups)

4565069760

In [111]:
tups[2][0] = 100

In [112]:
tups

(0, 2, [100, 2, 3])

In [113]:
id(tups)

4565069760

In [122]:
lyst = [0, 2, 3, (0,6,7)]
id(lyst)

4565912648

In [123]:
lyst[3][0]= 10

TypeError: 'tuple' object does not support item assignment

In [121]:
id(lyst)

4565959176

In [124]:
tups2 = tups

In [125]:
id(tups2)

4565069760

In [126]:
id(tups)

4565069760

In [129]:
tups = list((0, 'one'))

In [131]:
tups
## list
## tuple

[0, 'one']

In [132]:
## sets
##

In [136]:
x = list((1,2))

In [137]:
x

[1, 2]

In [145]:
type(x)

list

In [181]:
type(len)

builtin_function_or_method

In [149]:
# x.__len__() equivalent to len(x)

2

In [159]:
tups = (1,2,3)

In [169]:
## PYTHON ODDITIES

In [161]:
x = 10

In [162]:
y = 10

In [163]:
id(x)

4532658496

In [164]:
id(y)

4532658496

In [165]:
x = 450

In [166]:
y = 450

In [167]:
id(x)

4565908784

In [168]:
id(y)

4565907952

In [173]:
import inspect

In [178]:
inspect.ismethod(lyst.append)

False

In [180]:
type(lyst.append)

builtin_function_or_method

In [182]:
type(append)

NameError: name 'append' is not defined

In [184]:
## only very few functions
## sum, len
## most of it are methods not functions
## very few

In [186]:
sum([2,3,34])

39

In [187]:
lyst = [2,3,34]

In [189]:
lyst1 = [3,4,5]

In [190]:
lyst + lyst1

[2, 3, 34, 3, 4, 5]

In [ ]:
lyst.__add__(lyst1)

In [191]:
sum([2,3,34])

39

In [193]:
## most of the tiem you will use object.method
## function(object): when u use if the function exist

len(lyst)

3

In [194]:
lyst = list(['abc'])

In [195]:
lyst

['abc']

In [196]:
lyst = list('abc')

In [197]:
lyst

['a', 'b', 'c']

In [201]:
tups = (1,2,3)

In [206]:
tups.__len__()

3

In [203]:
len(tups)

3

In [207]:
## some functions don't have their counter parrt methods presentnt directly

In [208]:
## but most of them do

In [209]:
sum([1,2,3])

6

In [212]:
## __add__ 2 + 3 ## classes
## __iadd__ 2+=3 ## classes
## __radd__ 2 + 3 == 3 + 2 ## classes

In [214]:
## set
# ther is no private : public : 
## class

In [224]:
# class Gender:
#     __x = 10

# g = Gender()

# dir(g)
# g._Gender__x = 20

In [ ]:
## some classes

In [227]:
## sets

sets1 = {1,2,3,3,3,4}
sets2 = {2,3,4,5,6,7}

In [229]:
sets2 - sets1

{5, 6, 7}

In [230]:
sets2.difference(sets1)

{5, 6, 7}

In [235]:
sets2.add(10)

In [237]:
sets2.union(sets1)

{1, 2, 3, 4, 5, 6, 7, 10}

In [243]:
##n  strings

In [244]:
s = 'strings are weired'

In [245]:
s

'strings are weired'

In [250]:
s

'strings are weired'

In [251]:
list(['abc'])

['abc']

In [252]:
list('abc')

['a', 'b', 'c']

In [257]:
lyst2 = [4,5,6]

In [258]:
lyst1 + lyst2

[3, 4, 5, 4, 5, 6]

In [260]:
s + 'a'

'strings are weireda'

In [262]:
s + str(2)

'strings are weired2'

In [264]:
lyst1 + ['s']

[3, 4, 5, 's']

In [265]:
2 + 3 ## radd add

5

In [279]:
(3.5).__add__(2)

5.5

In [273]:
lyst3 = lyst1 + lyst2

In [275]:
##associativity
#2 + 3 = 3 + 2
## radd

## 
dir('abc')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [291]:
lyst1 = [3, 4, 5]

In [292]:
lyst2 = [4,5,6]

In [294]:
lyst1.__add__(lyst2)

[3, 4, 5, 4, 5, 6]

In [295]:
lyst1 + lyst2

[3, 4, 5, 4, 5, 6]

In [290]:
lyst1

[3, 4, 5, 4, 5, 6]

In [296]:
## iadd

x = 2

In [297]:
#  x += 3 ## __iadd__
## x = x + 3 ## __add__

In [299]:
2 + 3 + 4

9

In [301]:
#for loop

In [302]:
## numpy array

In [303]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [304]:
##[4,6]
## nummpy

In [310]:
## import numpy 
## from numpy import * : Bad practice

In [309]:
chintu.array([1,2]) + chintu.array([3,4])

array([4, 6])

In [1]:
#from numpy import * ## I don't want to see this

In [6]:
from Break import myfunc

30

In [7]:
from matplotlib import pyplot as plt

30

In [10]:
import math

In [11]:
import Break

In [13]:
math.__file__

'/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/lib-dynload/math.cpython-37m-darwin.so'

In [14]:
import matplotlib

In [16]:
matplotlib.__file__

'/usr/local/lib/python3.7/site-packages/matplotlib/__init__.py'

In [17]:
## shift + enter
## ctrl + enter
## a
## b
## shift + m

In [20]:
x= 10_000_000 ## python

In [19]:
x

10000000

In [22]:
α, β, γ  = 2,3,4

In [27]:
a, b, c= 4, 10, 20

In [31]:
a,b = b,a

In [29]:
b

10

In [30]:
c

20

In [32]:
## 12 PM

In [ ]:
## R copy on modify
## Python is more of name based structure, people don't call 
## variables in python
## .py

In [47]:
## dictionaries
## 
## key value pair : similar to list in R

dicts = { 'one' : [1, 20, 30], 'two': [10, 100, 1000], 
         'three' : [1000, 200,4000] }

In [48]:
import pandas as pd
pd.DataFrame(dicts)

   one   two  three
0    1    10   1000
1   20   100    200
2   30  1000   4000

In [40]:
print(dicts.keys())
print(dicts.values())
print(dicts.items())

dict_keys(['one', 'two', 'three'])
dict_values([1, 10, 1000])
dict_items([('one', 1), ('two', 10), ('three', 1000)])

In [36]:
dicts['one']

1

In [37]:
dicts['two']

10

In [44]:
dicts.get('four')

In [58]:
## loops and compreshensions
## 4 space indent 
## {} curly braces

## for(i in ){

## }
kyess = dicts.keys()
print(kyess)

for k, v in dicts.items():
    print(k, v, end = ' ')
   # print(v)

dict_keys(['one', 'two', 'three'])
one [1, 20, 30] two [10, 100, 1000] three [1000, 200, 4000]

In [59]:
## python 3.6-3.7
## f strings

In [61]:
x = 20

In [64]:
print('This is x: ' + str(x))

This is x: 20

In [81]:
print(f'This is x: {x:0>5}') ## f strings :

This is x: 00020

In [79]:
## F strings
#y = 30
#'This is {1} and  {0}'.format(x, y)

'This is 30 and  20'

In [90]:
lyst = range(11, 20)

In [91]:
mydict = {}

for idx, item in enumerate(lyst,0):
    mydict[idx] = item

In [93]:
list(enumerate(lyst,100))

[(100, 11),
 (101, 12),
 (102, 13),
 (103, 14),
 (104, 15),
 (105, 16),
 (106, 17),
 (107, 18),
 (108, 19)]

In [100]:
lyst = [1,2,3,4,4]

In [101]:
mydict['india'] = [10, 20, 200000]

In [103]:
mydict[(1,2)] = 10

In [113]:
*a,b,c = 23,4,5,6,7 ## tuple unpacking

In [114]:
a

[23, 4, 5]

In [115]:
b

6

In [116]:
c

7

In [125]:
'Abhay Pratap'.upper()

'ABHAY PRATAP'

In [127]:
## re 
## re : perl

In [128]:
import re

In [129]:
re.__file__

'/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/re.py'

In [130]:
# dafsasdf